// sass-lint:disable no-ids
@import 'variables';

header * {
  overflow: hidden;
}

header {
  background: darken($bg, 2%);
  box-shadow: 0 0 25px 0 $black;
  height: $navbar-top-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-header;
}

.topnav {
  display: inline;

  a {
    background-color: $bg;
    color: $white;
    font-family: 'IBM Plex Sans', serif;
    font-size: 1.625rem;
    height: $navbar-top-height;
    line-height: $navbar-top-height;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    text-justify: inter-word;

    &:hover {
      color: $color-primary-1;
    }

    #theme-selection {
      display: inline;
    }

  }
}
