@import 'variables';

// source-sans-pro-regular - latin
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/source-sans-pro-v13-latin-regular.eot'); // IE9 Compat Modes
  src: local($site-font-path),
  url('../../resources/typography/fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../../resources/typography/fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../../resources/typography/fonts/source-sans-pro-v13-latin-regular.woff') format('woff'), // Modern Browsers
  url('../../resources/typography/fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../../resources/typography/fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg'); // Legacy iOS
}

// ibm-plex-mono-regular - latin
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/ibm-plex-mono-v5-latin-regular.eot'); // IE9 Compat Modes
  src: local($site-font-path),
  url('../../resources/typography/fonts/ibm-plex-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../../resources/typography/fonts/ibm-plex-mono-v5-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../../resources/typography/fonts/ibm-plex-mono-v5-latin-regular.woff') format('woff'), // Modern Browsers
  url('../../resources/typography/fonts/ibm-plex-mono-v5-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../../resources/typography/fonts/ibm-plex-mono-v5-latin-regular.svg#IBMPlexMono') format('svg'); // Legacy iOS
}

// ibm-plex-sans-regular - latin
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/ibm-plex-sans-v7-latin-regular.eot'); // IE9 Compat Modes
  src: local($site-font-path),
  url('../../resources/typography/fonts/ibm-plex-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../../resources/typography/fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../../resources/typography/fonts/ibm-plex-sans-v7-latin-regular.woff') format('woff'), // Modern Browsers
  url('../../resources/typography/fonts/ibm-plex-sans-v7-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../../resources/typography/fonts/ibm-plex-sans-v7-latin-regular.svg#IBMPlexSans') format('svg'); // Legacy iOS
}

// ibm-plex-serif-regular - latin
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/ibm-plex-serif-v8-latin-regular.eot'); // IE9 Compat Modes
  src: local($site-font-path),
  url('../../resources/typography/fonts/ibm-plex-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../../resources/typography/fonts/ibm-plex-serif-v8-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../../resources/typography/fonts/ibm-plex-serif-v8-latin-regular.woff') format('woff'), // Modern Browsers
  url('../../resources/typography/fonts/ibm-plex-serif-v8-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../../resources/typography/fonts/ibm-plex-serif-v8-latin-regular.svg#IBMPlexSerif') format('svg'); // Legacy iOS
}

// pt-mono-regular - latin
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/pt-mono-v7-latin-regular.eot'); // IE9 Compat Modes
  src: local($site-font-path),
  url('../../resources/typography/fonts/pt-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../../resources/typography/fonts/pt-mono-v7-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../../resources/typography/fonts/pt-mono-v7-latin-regular.woff') format('woff'), // Modern Browsers
  url('../../resources/typography/fonts/pt-mono-v7-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../../resources/typography/fonts/pt-mono-v7-latin-regular.svg#PTMono') format('svg'); // Legacy iOS
}

// libre-baskerville-regular - latin
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/libre-baskerville-v7-latin-regular.eot'); // IE9 Compat Modes
  src: local($site-font-path),
  url('../../resources/typography/fonts/libre-baskerville-v7-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../../resources/typography/fonts/libre-baskerville-v7-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../../resources/typography/fonts/libre-baskerville-v7-latin-regular.woff') format('woff'), // Modern Browsers
  url('../../resources/typography/fonts/libre-baskerville-v7-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../../resources/typography/fonts/libre-baskerville-v7-latin-regular.svg#LibreBaskerville') format('svg'); // Legacy iOS
}

/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/typography/fonts/cabin-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local($site-font-path),
  url('../../resources/typography/fonts/cabin-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../resources/typography/fonts/cabin-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../resources/typography/fonts/cabin-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../resources/typography/fonts/cabin-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../resources/typography/fonts/cabin-v14-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}