.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    overflow: hidden;
}

.modal-window {
    position: relative;
    background-color: #202020;
    border: black solid 2px;
    border-radius: 3rem;
    width: 50%;
    height: 65%;
    margin: 10% auto;
    padding: 20px;
    scrollbar-color: lighten(#202020, 5%);
}

.modal-window.small {
    width: 30%;
}

.modal-window.large {
    width: 75%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}
