@import 'variables';
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.modal-window {
  background-color: $bg;
  border: black solid 2px;
  border-radius: 2rem;
  height: auto;
  margin: 5% auto;
  padding: 8px 4px 4px 16px;
  position: relative;
  width: 50%;

  .small {
    width: 30%;
  }

  .large {
    width: 75%;
  }
}


.close {
  color: rgba(0, 0, 0, .3);
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
 // text-align: center;
  top: 0;
  width: 30px;

  &:hover,
  &:focus {
    color: #000000;
    cursor: pointer;
  }
}

.open {
  display: block;
}
