@import 'variables';

.modal {
  background-color: $black;
  bottom: 0;
  display: none;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-modal;
}

.modal-window {
  background-color: $bg;
  border: $black solid 2px;
  border-radius: 2rem;
  height: auto;
  margin: 5% auto;
  padding: 8px 4px 4px 16px;
  position: relative;
  width: 50%;

  .small {
    width: 30%;
  }

  .large {
    width: 75%;
  }
}


.close {
  color: $bg;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;

  &:hover,
  &:focus {
    color: $black;
    cursor: pointer;
  }
}

.open {
  display: block;
}
