@import 'variables';

.icon-container {
  list-style: none;
  font-size: 1.25rem;
  text-align: center;


  li {
    display: inline-flex;

    a {
      text-decoration: none;
    }
  }

  @mixin some-btn {
    box-shadow: 1px 1px 14px 2px darken($bg, 6.5%);
    line-height: 32px;
    margin:auto;
    padding: 8px;
    width: 32px;
    border-width: 0;
    border-radius: 8px;
    height: 32px;
  }

  .fa-facebook-f {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #3b5998;
    }
  }

  .fa-twitter {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #1da1f2;
    }
  }

  .fa-pinterest {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #bd081c;
    }
  }

  .fa-linkedin {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #0077b5;
    }
  }

  .fa-reddit-alien {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #ff4500;
    }
  }

  .fa-get-pocket {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #ef4056;
    }
  }

  .fa-envelope {
    @include some-btn;

    &:hover {
      color: #fff;
      background: #505264;
    }
  }
}