@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav {
  @media mobile, tablet {
    width: 100%;
  }
  height: 100%;
  @media desktop and (min-width: 800px) {
    width: 0;
  }
  @media desktop and (max-width: 800px) {
    width: 100%;
  }
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 60px;

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  a {
    padding: 8px 8px 8px 32px;
    margin: auto auto;
    text-decoration: none;
    text-wrap: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
}