@import 'variables';
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav {
  width: 0px;
  border-right: solid $grey-two 2px;
  position: fixed;
  z-index: $z-index-sidenav;
  top: 0;
  left: 0;
  height:100%;
  background: lighten($bg,5%);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 60px;

  a {
    margin: auto;
      background-color: $bg;
      color: $white;
      font-family: 'IBM Plex Sans', serif;
      font-size: 1.625rem;
      line-height:3rem;
      padding: 4px 24px;
      text-align: left;
      text-decoration: none;
      text-justify: inter-word;

      &:nth-child(even) {
        background: lighten($bg, 5%);

        &:hover {
          color: $heading-one-bg;
        }
      }

      &:nth-child(odd) {
        background: lighten($bg, 2%);

        &:hover {
          color: $heading-one-bg;
        }
      }

    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
  @media mobile, tablet {
    width: 100%;
  }
  height: 100%;
  @media desktop and (min-width: 800px) {
    width: 0;
  }
  @media desktop and (max-width: 800px) {
    width: 100%;
  }
}