// sass-lint:disable no-misspelled-properties
// sass-lint:disable nesting-depth
@import 'variables';

.sidenav {
  background: lighten($bg, 5%);
  border-right: solid $grey-two 2px;
  display: block;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  padding-top: $navbar-top-margin + .25rem;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 0;
  z-index: $z-index-sidenav;

  a {
    background-color: $bg;
    color: $white;
    display: block;
    font-family: 'IBM Plex Sans', serif;
    font-size: 2rem;
    line-height: 3.5rem;
    text-decoration: none;
    transition: .3s;


    &:nth-child(even) {
      background: lighten($bg, 2%);

      &:hover {
        color: $heading-one-bg;
      }
    }

    &:nth-child(odd) {
      background: lighten($bg, 5%);


      &:hover {
        color: $heading-one-bg;
      }
    }

    &:hover {
      color: $white;
    }
  }

  @media screen and (max-width: 800px) {
    text-align: center;
  }
  @media screen and (min-width: 800px) {
    text-align: left;
  }
}
