@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2") format("woff2");
  font-display: swap;
}
.block {
  background: #232323;
  padding: 12px;
}

.icon {
  background: #3a3a3a;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  font-size: 2rem;
  height: 38px;
  line-height: unset;
  min-width: 3rem;
  padding: 0 0.75rem;
  text-align: center;
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  margin: 4rem auto auto;
  scroll-behavior: smooth;
  scroll-padding-top: 4.6rem;
  text-justify: inter-word;
}
html ::selection {
  background: #34495e;
  color: #fff;
  padding: 4px;
}

body {
  background: #202020;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

nav a {
  background-color: #202020;
  color: #fff;
  font-family: "IBM Plex Serif", serif;
  font-size: 1.625rem;
  line-height: 1.285rem;
  margin: auto;
  padding: 7px 24px;
  text-align: center;
  text-decoration: none;
  text-justify: inter-word;
}
nav a:nth-child(even) {
  background: #2d2d2d;
}
nav a:nth-child(even):hover {
  color: #ff5900;
}
nav a:nth-child(odd) {
  background: #252525;
}
nav a:nth-child(odd):hover {
  color: #ff5900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: #ff5900;
  color: #202020;
}

a {
  color: rgba(255, 255, 255, 0.5);
  outline: 0;
}
a:hover {
  text-decoration: none;
}

th {
  color: #fff;
}

.two-column-table td:nth-child(1) {
  background: #202020;
  min-width: 5%;
}
.two-column-table td:nth-child(2) {
  background: #202020;
  min-width: 60%;
}
.two-column-table td:nth-child(2):hover {
  background: #3a3a3a;
  box-sizing: content-box;
  overflow: hidden;
}

.four-column-table td:nth-child(1) {
  background: #202020;
  min-width: 5%;
}
.four-column-table td:nth-child(2) {
  background: #202020;
  min-width: 5%;
}
.four-column-table td:nth-child(3) {
  background: #202020;
  min-width: 5%;
}
.four-column-table td:nth-child(4) {
  background: #202020;
  min-width: 5%;
}

footer {
  background: #202020;
  display: block;
  font-family: "IBM Plex Serif", serif;
  margin: auto;
  padding: 0.625rem 1rem;
  text-align: center;
}

p {
  background: #3a3a3a;
}
p.explanation {
  border-left: 6px solid #65ffa0;
}
p.warning {
  border-left: 6px solid #ffeb3b;
}
p.info {
  border-left: 6px solid #2196F3;
}
p.danger {
  border-left: 6px solid #f44336;
}
p.success {
  border-left: 6px solid #4CAF50;
}

p.info-box {
  margin: 1ex 0 0;
}

.button.button-primary,
button.button-primary,
input[type=submit].button-primary,
input[type=reset].button-primary,
input[type=button].button-primary {
  background: #3a3a3a;
  border-color: rgba(255, 255, 255, 0.5);
  color: #ff5900;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type=submit].button-primary:hover,
input[type=reset].button-primary:hover,
input[type=button].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type=submit].button-primary:focus,
input[type=reset].button-primary:focus,
input[type=button].button-primary:focus {
  background: #464646;
  border-color: rgba(230, 230, 230, 0.5);
  color: #fff;
}

.gradient-h1 {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#eee, #333);
  font-size: 6rem;
  text-shadow: 6px #000;
  -webkit-background-clip: text;
}

.input-container {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.input-field {
  outline: none;
  padding: 10px;
  width: 100%;
}

table {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}

th,
td {
  border-bottom: 1px dashed #d34a00;
  padding: 2px 6px;
  text-align: left;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.725rem 0;
  box-sizing: border-box;
  font-family: "PT Mono", serif;
  font-weight: 300;
  margin: 0 auto 0.25rem 0;
  text-align: center;
  width: 100%;
}

.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  letter-spacing: 0.1rem;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.button:focus,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  border-color: #bbb;
  color: #202020;
  outline: 0;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea,
select {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  height: 38px;
  padding: 6px 10px;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea {
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-bottom: 6px;
  padding-top: 6px;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .email-input {
    text-align: center;
    margin: 0 auto;
  }
}
@media (min-width: 880px) {
  footer a {
    text-decoration-style: dotted;
  }

  header * {
    display: flex;
  }

  header {
    box-shadow: 0 0 25px 0 #000;
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h1 {
    border-radius: 0.5rem;
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
    margin-top: 1.6rem;
    padding: 0 1rem;
  }

  h2 {
    font-size: 3.6rem;
    letter-spacing: -0.1rem;
    line-height: 1.25;
    margin-top: 1.825rem;
  }

  h3 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    line-height: 1.3;
    margin-top: 2rem;
  }

  h4 {
    font-size: 2.4rem;
    letter-spacing: -0.08rem;
    line-height: 1.35;
    margin-top: 0.5rem;
  }

  h5 {
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
  }

  h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
  }

  p {
    font-family: "PT Mono", sans, serif;
    font-size: 0.525rem;
  }

  p,
ul,
li,
ol {
    font-size: 100%;
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: upper-roman;
  }

  ol,
ul {
    padding-left: 0;
    width: 50%;
  }

  li {
    font-family: "IBM Plex Serif", serif;
    margin-bottom: 0.1em;
  }

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    width: 120%;
  }

  .column,
.columns {
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
}
@media (min-width: 880px) and (min-width: 400px) {
  .container {
    padding: 0;
    width: 85%;
  }
}
@media (min-width: 880px) and (min-width: 550px) {
  .container {
    width: 80%;
  }

  .column,
.columns {
    margin-left: 4%;
  }

  .column:first-child,
.columns:first-child {
    margin-left: 0;
  }

  .one.column,
.one.columns {
    width: 4.6666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    margin-left: 0;
    width: 100%;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  .offset-by-one.column,
.offset-by-one.columns {
    margin-left: 8.6666666667%;
  }

  .offset-by-two.column,
.offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,
.offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,
.offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,
.offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,
.offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,
.offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,
.offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,
.offset-by-nine.columns {
    margin-left: 78%;
  }

  .offset-by-ten.column,
.offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,
.offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
.offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,
.offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
.offset-by-one-half.columns {
    margin-left: 52%;
  }
}
@media (min-width: 880px) {
  code {
    font-family: "Source Code Pro", monospace;
    font-size: 105%;
    margin: 0 0.01rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
  }
}
@media (min-width: 880px) {
  pre > code {
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    white-space: pre;
    width: 50%;
  }
}
@media (min-width: 880px) {
  button,
.button {
    margin-bottom: 1rem;
  }
}
@media (min-width: 880px) {
  input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 880px) {
  pre,
blockquote,
dl,
figure,
p,
ul,
ol,
form {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (min-width: 880px) {
  .pad-right-1-d-5-px {
    margin: 0 1.5px 0 0;
  }
}
@media (min-width: 880px) {
  .u-full-width {
    box-sizing: border-box;
    width: 100%;
  }
}
@media (min-width: 880px) {
  .u-max-full-width {
    box-sizing: border-box;
    max-width: 100%;
  }
}
@media (min-width: 880px) {
  .u-pull-right {
    float: right;
  }
}
@media (min-width: 880px) {
  .u-pull-left {
    float: left;
  }
}
@media (min-width: 880px) {
  .u-cf {
    clear: both;
    content: "";
    display: table;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
