/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Classes
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- List
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

//–––––––––––––––––––––––––––––––––––––––––––––––––– Variables ––––––––––––––––––––––––––––––––––––––––––––––––––//
$color-one: #221c1f;
$color-two: #a8a8a8;
$color-three: #515151;
$color-four: #26262e;
$color-five: #65ffa0;
$color-six: #cedbdb;
$color-seven: #aeb9b9;
$color-eight: #252626;
$color-nine: #1e1d2b;
$color-ten: #ff327e;
$color-eleven: #dedfde;
$footer-background: #e7e7e7;
$color-black: #000;
$input-height: 38px;
$color-border: #e1e1e1;
$color-code-background: #f1f1f1;
$color-text-selection-background: #34495e;
$color-text-selection-text: #fff;

.icon {
  background: $color-six;
  line-height: unset;
  vertical-align: middle;
  font-size: 2rem;
  border: 1px solid $color-border;
  border-radius: 4px;
  color: $color-one;
  height: $input-height;
  min-width: 3rem;
  padding: 0 .75rem;
  text-align: center;
}

.input-container {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

//---------------------------------------------- Base Style ----------------------------------------------//
html {
  font-size: 62.5%;
  margin: 4rem auto auto; // For navbar we need some top-margin
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  text-justify: inter-word;

  ::selection {
    padding: 4px;
    background: $color-text-selection-background;
    color: $color-text-selection-text;
  }
}

body {
  color: $color-one;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

//---------------------------------------------- Nav ----------------------------------------------//
a {
  outline: 0;
}

hr {
  margin-bottom: .5rem;
  margin-top: .825rem;
  width: 100%;
  border: .125rem solid $color-eleven;
  border-radius: 5px;
}

footer {
  background: $footer-background;
  display: block;
  font-family: 'IBM Plex Serif', serif;
  margin: auto;
  padding: .625rem 1rem;
  text-align: center;
}

@media (min-width: 800px) {
  footer {
    a {
      text-decoration-style: dotted;
    }
  }

  header {
    background-color: $color-two;
    box-shadow: 0 0 25px 0 $color-black;
    display: flex;
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  header * {
    display: flex;
  }

  nav {
    :hover {
      background-color: $color-four;
      color: $color-five;
    }

    :not(:last-child) { // Prevent double borders
      border-right: 0;
    }

    a {

      background-color: $color-two;
      border: 1px solid $color-three;
      color: $color-four;
      cursor: pointer;
      float: left;
      font-family: 'IBM Plex Serif', serif;
      font-size: 1.3rem;
      line-height: 1.125rem;
      margin: auto;
      padding: 8px 24px;
      text-align: center;
      text-decoration: none;
      text-justify: inter-word;
      width: 50%;


    }

    ::after {
      // Clear floats (clearfix hack)
      clear: both;
      content: '';
      display: table;
    }
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Color ----------------------------------------------//
  h2 {
    background: $color-seven;
  }

  h3 {
    background: $color-six;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Typography ----------------------------------------------//
  h1, h2, h3, h4, h5, h6 {
    color: $color-eight;
    margin: 0 auto .25rem auto;
    font-weight: 300;
    font-family: "PT Mono", serif;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-top: 1.6rem;
  }

  h2 {
    font-size: 3.6rem;
    letter-spacing: -.1rem;
    line-height: 1.25;
    margin-top: 1.825rem;
  }

  h3 {
    font-size: 3.0rem;
    letter-spacing: -.1rem;
    line-height: 1.3;
    margin-top: 2.2rem;
  }

  h4 {
    font-size: 2.4rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
    margin-top: .5rem;
  }

  h5 {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
  }

  h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
  }

  p {
    font-family: 'PT Mono', sans, serif;
    font-size: .525rem;
  }

  // Larger than phablet
  @media (min-width: 550px) {
    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 4.2rem;
    }

    h3 {
      font-size: 3.6rem;
    }

    h4 {
      font-size: 3rem;
    }

    h5 {
      font-size: 2.4rem;
    }

    h6 {
      font-size: 1.5rem;
    }
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Links ----------------------------------------------//
  a {
    color: $color-nine;

    :hover {
      color: $color-ten;
    }
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Buttons ----------------------------------------------//
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: $input-height;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: $input-height;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
  }

  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
  }

  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Forms ----------------------------------------------//
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: $input-height;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
  }

  //Removes awkward default styles on some inputs for iOS
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    appearance: none;
  }

  textarea {
    min-height: 65px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
  }

  label,
  legend {
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  fieldset {
    border-width: 0;
    padding: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
  }

  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Lists ----------------------------------------------//
  p,
  ul,
  li,
  ol {
    font-size: 100%;
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: upper-roman;
  }

  ol,
  ul {
    padding-left: 0;
    //  margin-top: 0;
    //margin: auto;
    width: 50%;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: .4em 0 .6em 1rem;
    font-size: 90%;
  }

  li {
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: .1em;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Grid ----------------------------------------------//
  .container {
    width: 120%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

  }

  .column,
  .columns {
    box-sizing: border-box;
    float: left;
    width: 100%;
  }

  @media (min-width: 400px) {
    .container {
      padding: 0;
      width: 85%;
    }
  }

  @media (min-width: 550px) {
    .container {
      width: 80%;
    }

    .column,
    .columns {
      margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
      margin-left: 0;
    }

    .one.column,
    .one.columns {
      width: 4.66666666667%;
    }

    .two.columns {
      width: 13.3333333333%;
    }

    .three.columns {
      width: 22%;
    }

    .four.columns {
      width: 30.6666666667%;
    }

    .five.columns {
      width: 39.3333333333%;
    }

    .six.columns {
      width: 48%;
    }

    .seven.columns {
      width: 56.6666666667%;
    }

    .eight.columns {
      width: 65.3333333333%;
    }

    .nine.columns {
      width: 74.0%;
    }

    .ten.columns {
      width: 82.6666666667%;
    }

    .eleven.columns {
      width: 91.3333333333%;
    }

    .twelve.columns {
      width: 100%;
      margin-left: 0;
    }

    .one-third.column {
      width: 30.6666666667%;
    }

    .two-thirds.column {
      width: 65.3333333333%;
    }

    .one-half.column {
      width: 48%;
    }

    // Offsets
    .offset-by-one.column,
    .offset-by-one.columns {
      margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
    .offset-by-two.columns {
      margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
    .offset-by-three.columns {
      margin-left: 26%;
    }

    .offset-by-four.column,
    .offset-by-four.columns {
      margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
    .offset-by-five.columns {
      margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
    .offset-by-six.columns {
      margin-left: 52%;
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
      margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
      margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
      margin-left: 78.0%;
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
      margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
      margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
      margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
      margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
      margin-left: 52%;
    }
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Code ----------------------------------------------//
  code {
    background: $color-code-background;
    border: 1px solid $color-border;
    border-radius: 4px;
    font-family: 'Source Code Pro', monospace;
    font-size: 105%;
    margin: 0 .01rem;
    padding: .2rem .5rem;
    white-space: nowrap;
  }

  pre > code {
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    white-space: pre;
    width: 50%;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Tables ----------------------------------------------//
  th,
  td {
    border-bottom: 1px dashed $color-border;
    padding: 2px 15px;
    text-align: left;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
  td:nth-child(2):hover {
    box-sizing: content-box;
    overflow: hidden;
    background: $color-code-background;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Spacing ----------------------------------------------//
  button,
  .button {
    margin-bottom: 1rem;
  }

  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem;
  }

  pre,
  blockquote,
  dl,
  figure,
  p,
  ul,
  ol,
  form {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  table {
    //margin-left: 2rem;
    //margin-right: auto;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Utility Classes ----------------------------------------------//
  // Make element full width
  .u-full-width {
    box-sizing: border-box;
    width: 100%;
  }

  // Make sure elements don't run outside containers (great for images in columns)
  .u-max-full-width {
    box-sizing: border-box;
    max-width: 100%;
  }

  // Float either direction
  .u-pull-right {
    float: right;
  }

  .u-pull-left {
    float: left;
  }

  // Clear a float
  .u-cf {
    clear: both;
    content: '';
    display: table;
  }

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Misc ----------------------------------------------//

  // –––––––––––––––––––––––––––––––––––––––––––––––––– Classes ----------------------------------------------//
  table {
    padding: 10px 0;
  }
}