// sass-lint:disable nesting-depth
// sass-lint:disable force-pseudo-nesting
// sass-lint:disable force-element-nesting
// sass-lint:disable no-vendor-prefixes
// sass-lint:disable property-sort-order
// sass-lint:disable force-attribute-nesting
// sass-lint:disable no-qualifying-elements
// sass-lint:disable force-pseudo-nesting
//sass-lint:disable no-url-domains, no-url-protocols
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url('https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2') format('woff2');
  font-display: swap;
}

// Color Vars
$color-primary-0: #a73a00;
$color-primary-1: #ff5900;
$color-primary-2: #d34a00;
$color-primary-3: #792a00;
$color-primary-4: #3f1600;
$fg: rgba(255, 255, 255, .5);
$bg: #202020;
$td-bg: $bg;
$white: #fff;
$black: #000;
$color-black: #000;
$grey-one: #bbb;
$grey-two: #555;
$grey-three: #fff;
$color-turquoise: #65ffa0;

// Color Assignment
$footer-background: $white;
$color-code-background: #f1f1f1;
$color-text-selection-background: #34495e;
$color-text-selection-text: $white;
$heading-fg: $color-primary-1;
$heading-one-bg: $color-primary-1;
$color-border: $color-primary-2;
$border-color-cream: #d1d1d1;
$color-temporary: #33c3f0;
$color-link-hover: #ff327e;
$gradient-h1-color-one: #eee;
$gradient-h1-color-two: #333;

// Size + Dimension Variables
$input-height: 38px;


.icon {
  background: lighten($bg, 10%);
  color: $fg;
}

html {
  font-size: 62.5%;
  margin: 4rem auto auto; // For navbar we need some top-margin
  scroll-behavior: smooth;
  scroll-padding-top: 4.6rem;
  text-justify: inter-word;

  ::selection {
    background: $color-text-selection-background;
    color: $color-text-selection-text;
    padding: 4px;
  }
}

body {
  background: $bg;
  color: $fg;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

nav {

  a {
    background-color: $bg;
    color: $white;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.625rem;
    line-height: 1.285rem;
    margin: auto;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    text-justify: inter-word;

    &:nth-child(even) {
      background: lighten($bg, 40%);

      &:hover { // TODO: Fix - Why is this selector not working?
        color: $black;
      }
    }

    &:nth-child(odd) {
      background: lighten($bg, 2%);

      &:hover {
        color: $heading-one-bg;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: $color-primary-1;
  color: $bg;
}

a {
  color: $fg;
  outline: 0;

  &:hover {
    text-decoration: none;
  }
}

th {
  color: $color-text-selection-text;
}

td {
  &:nth-child(1) {
    background: $td-bg;
  }

  &:nth-child(2) {
    background: $td-bg;

    &:hover {
      background: lighten($bg, 10%);
    }
  }
}

footer {
  background: $bg;
  display: block;
  font-family: 'IBM Plex Serif', serif;
  margin: auto;
  padding: .625rem 1rem;
  text-align: center;

}

p {
  background: lighten($bg, 10%);
}

p.info-box {
  margin: 1ex 0 0;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  background: lighten($bg, 10%);
  border-color: $fg;
  color: $color-primary-1;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  background: lighten($bg, 15%);
  border-color: darken($fg, 10%);
  color: $white;
}


// Gradients
.gradient-h1 {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient($gradient-h1-color-one, $gradient-h1-color-two);
  font-size: 6rem;
  text-shadow: 6px $black;
  -webkit-background-clip: text;
}

.icon {
  border-radius: 4px;
  font-size: 2rem;
  height: $input-height;
  line-height: unset;
  min-width: 3rem;
  padding: 0 .75rem;
  text-align: center;
  vertical-align: middle;
}

.input-container {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.input-field {
  outline: none;
  padding: 10px;
  width: 100%;
}


@media (min-width: 800px) {
  footer {
    a {
      text-decoration-style: dotted;
    }
  }

  header * {
    display: flex;
  }

  header {
    box-shadow: 0 0 25px 0 $black;
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }


  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: .725rem 0;
    box-sizing: border-box;
    font-family: 'PT Mono', serif;
    font-weight: 300;
    margin: 0 auto .25rem 0;
    text-align: center;
    width: 100%;
  }

  h1 {
    border-radius: .5rem;
    font-size: 4rem;
    letter-spacing: -.1rem;
    line-height: 1.2;
    margin-top: 1.6rem;
    padding: 0 1rem;
  }

  h2 {
    font-size: 3.6rem;
    letter-spacing: -.1rem;
    line-height: 1.25;
    margin-top: 1.825rem;
  }

  h3 {
    font-size: 3rem;
    letter-spacing: -.1rem;
    line-height: 1.3;
    margin-top: 2rem;
  }

  h4 {
    font-size: 2.4rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
    margin-top: .5rem;
  }

  h5 {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
  }

  h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
  }

  p {
    font-family: 'PT Mono', sans, serif;
    font-size: .525rem;
  }


  // Buttons
  .button,
  button,
  input[type='submit'],
  input[type='reset'],
  input[type='button'] {
    background-color: transparent;
    border: 1px solid $grey-one;
    border-radius: 4px;
    box-sizing: border-box;
    color: $grey-two;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    height: $input-height;
    letter-spacing: .1rem;
    line-height: $input-height;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .button:hover,
  button:hover,
  input[type='submit']:hover,
  input[type='reset']:hover,
  input[type='button']:hover,
  .button:focus,
  button:focus,
  input[type='submit']:focus,
  input[type='reset']:focus,
  input[type='button']:focus {
    border-color: $grey-one;
    color: $bg;
    outline: 0;
  }


  // Forms
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='text'],
  input[type='tel'],
  input[type='url'],
  input[type='password'],
  textarea,
  select {
    background-color: $white;
    border: 1px solid $border-color-cream;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    height: $input-height;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  }

  //Removes awkward default styles on some inputs for iOS
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='text'],
  input[type='tel'],
  input[type='url'],
  input[type='password'],
  textarea {
    appearance: none;
  }

  textarea {
    min-height: 65px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  input[type='email']:focus,
  input[type='number']:focus,
  input[type='search']:focus,
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  textarea:focus,
  select:focus {
    border: 1px solid $color-temporary;
    outline: 0;
  }

  label,
  legend {
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  fieldset {
    border-width: 0;
    padding: 0;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: inline;
  }

  label > .label-body {
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem;
  }

  // Lists
  p,
  ul,
  li,
  ol {
    font-size: 100%;
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: upper-roman;
  }

  ol,
  ul {
    padding-left: 0;
    width: 50%;
  }


  li {
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: .1em;
  }


  // Grid

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    width: 120%;
  }

  .column,
  .columns {
    box-sizing: border-box;
    float: left;
    width: 100%;
  }

  @media (min-width: 400px) {
    .container {
      padding: 0;
      width: 85%;
    }
  }

  @media (min-width: 550px) {
    .container {
      width: 80%;
    }

    .column,
    .columns {
      margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
      margin-left: 0;
    }

    .one.column,
    .one.columns {
      width: 4.66666666667%;
    }

    .two.columns {
      width: 13.3333333333%;
    }

    .three.columns {
      width: 22%;
    }

    .four.columns {
      width: 30.6666666667%;
    }

    .five.columns {
      width: 39.3333333333%;
    }

    .six.columns {
      width: 48%;
    }

    .seven.columns {
      width: 56.6666666667%;
    }

    .eight.columns {
      width: 65.3333333333%;
    }

    .nine.columns {
      width: 74%;
    }

    .ten.columns {
      width: 82.6666666667%;
    }

    .eleven.columns {
      width: 91.3333333333%;
    }

    .twelve.columns {
      margin-left: 0;
      width: 100%;
    }

    .one-third.column {
      width: 30.6666666667%;
    }

    .two-thirds.column {
      width: 65.3333333333%;
    }

    .one-half.column {
      width: 48%;
    }

    .offset-by-one.column,
    .offset-by-one.columns {
      margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
    .offset-by-two.columns {
      margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
    .offset-by-three.columns {
      margin-left: 26%;
    }

    .offset-by-four.column,
    .offset-by-four.columns {
      margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
    .offset-by-five.columns {
      margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
    .offset-by-six.columns {
      margin-left: 52%;
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
      margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
      margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
      margin-left: 78%;
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
      margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
      margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
      margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
      margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
      margin-left: 52%;
    }
  }


  // Code

  code {
    font-family: 'Source Code Pro', monospace;
    font-size: 105%;
    margin: 0 .01rem;
    padding: .2rem .5rem;
    white-space: nowrap;
  }

  pre > code {
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    white-space: pre;
    width: 50%;
  }


  // Tables
  table {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;

  }

  td {
    &:nth-child(1) {
      min-width: 5%;
    }

    &:nth-child(2) {
      min-width: 60%;

      &:hover {
        box-sizing: content-box;
        overflow: hidden;
      }
    }
  }

  th,
  td {
    border-bottom: 1px dashed $color-border;
    padding: 2px 6px;
    text-align: left;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }


  // Spacing
  button,
  .button {
    margin-bottom: 1rem;
  }

  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem;
  }

  pre,
  blockquote,
  dl,
  figure,
  p,
  ul,
  ol,
  form {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .pad-right-1-d-5-px {
    margin: 0 1.5px 0 0;
  }

  // Utility Classes
  .u-full-width { // Make element full width
    box-sizing: border-box;
    width: 100%;
  }

  .u-max-full-width { // Make sure elements don't run outside containers (great for images in columns)
    box-sizing: border-box;
    max-width: 100%;
  }


  .u-pull-right { // Float either direction
    float: right;
  }

  .u-pull-left {
    float: left;
  }

  .u-cf { // Clear a float
    clear: both;
    content: '';
    display: table;
  }
}
