@import 'variables';

#theme-selection{
  display: inline;
}

.theme-agate{
$color-1: #ade5fc;
  $color-1:  #a2fca2;
  $color-2:  #c6b4f0;
  $color-3:  #d36363;
  $color-4:  #fcc28c;
  $color-5:  #fc9b9b;
  $color-6:  #ffa;
  $color-7:  #fff;
  $color-8:  #333;
  $color-9: #62c8f3;
  $color-10: #888;
}