.u-full-width { // Make element full width
  box-sizing: border-box;
  width: 100%;
}

.u-max-full-width { // Make sure elements don't run outside containers by setting the maxiumum width (great for images in columns)
  box-sizing: border-box;
  max-width: 100%;
}

.u-pull-right { // Float either direction
  float: right;
}

.u-pull-left {
  float: left;
}

.u-cf { // Clear a float
  clear: both;
  content: '';
  display: table;
}