
// Color Vars
$fg: rgba(255, 255, 255, .9);
$bg: #202020;
$color-primary-0: #a73a00;
$color-primary-1: #ff5900;
$color-primary-2: #d34a00;
$color-primary-3: #792a00;
$color-primary-4: #3f1600;
$td-bg: $bg;
$white: #fff;
$black: #000;
$color-black: #000;
$grey-one: #bbb;
$grey-two: #555;
$grey-three: #fff;
$color-turquoise: #65ffa0;

// - Logos
$color-fb-logo: #3b5998;
$color-twitter-logo: #1da1f2;
$color-pinterest-logo: #bd081c;
$color-reddit-logo: #ff4500;
$color-linkedin-logo: #0077b5;
$color-pocket-logo: #ef4056;
$color-mail-logo: #505264;


// Color Assignment
$headings-bg: $grey-two;
$footer-background: $white;
$color-code-background: #f1f1f1;
$color-text-selection-background: #34495e;
$color-text-selection-text: $white;
$heading-fg: $color-primary-1;
$heading-one-bg: $color-primary-1;
$color-border: $color-primary-2;
$border-color-cream: #d1d1d1;
$color-temporary: #33c3f0;
$color-link-hover: #ff327e;
$gradient-h1-color-one: #eee;
$gradient-h1-color-two: #8c9191;
$warning: #ffeb3b;
$info: #2196f3;
$danger: #f44336;
$success: #4caf50;
$explanation: #65ffa0;
// Size + Dimension Variables
$input-height: 38px;

// - Variable declaration END
$navbar-top-height: 4rem;
$navbar-top-margin: $navbar-top-height;
$share-button-font-size: 1.25rem;

// - Z-Values
$z-index-snackbar: 15;
$z-index-sidenav: 20;
$z-index-header: 90;
$z-index-modal: 95;
$z-index-tooltip: 100;

// -- Media queriy breakpoints
$media-screen-small: 800px;
$media-screen-medium: 1200px;
$media-screen-big: 1600px;
$media-tablet-portrait: 600px;
$media-tablet-landscape: 800px;
$media-phone-portrait: 320px;
$media-phone-landscape: 480px;

// - Paths
$site-font-path: '../../resources/typography/fonts/';
