
// Color Vars
$fg: rgba(255, 255, 255, .9);
$bg: #202020;
$color-primary-0: #a73a00;
$color-primary-1: #ff5900;
$color-primary-2: #d34a00;
$color-primary-3: #792a00;
$color-primary-4: #3f1600;
$td-bg: $bg;
$white: #fff;
$black: #000;
$color-black: #000;
$grey-one: #bbb;
$grey-two: #555;
$grey-three: #fff;
$color-turquoise: #65ffa0;

// Color Assignment
$footer-background: $white;
$color-code-background: #f1f1f1;
$color-text-selection-background: #34495e;
$color-text-selection-text: $white;
$heading-fg: $color-primary-1;
$heading-one-bg: $color-primary-1;
$color-border: $color-primary-2;
$border-color-cream: #d1d1d1;
$color-temporary: #33c3f0;
$color-link-hover: #ff327e;
$gradient-h1-color-one: #eee;
$gradient-h1-color-two: #8c9191;

// Size + Dimension Variables
$input-height: 38px;
$warning: #ffeb3b;
$info: #2196f3;
$danger: #f44336;
$success: #4caf50;
$explanation: #65ffa0;
// - Variable declaration END
$navbar-top-margin: 4rem;
$share-button-font-size: 1.25rem;

// -- Media queriy breakpoints
$media-screen-small: 800px;
$media-screen-medium: 1200px;
$media-screen-big: 1600px;
$media-tablet-portrait: 600px;
$media-tablet-landscape: 800px;
$media-phone-portrait: 320px;
$media-phone-landscape: 480px;